body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  animation: anim-logo 0.7s;
}

button {
  outline: none;
}

@keyframes anim-logo {
  0% {
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(-4deg) scale(1.07);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
#header {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#header #nav-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  height: 8vh;
}
#header #nav-header a.link-logo .logo {
  width: 40%;
  height: auto;
}
#header #nav-header .menu-hamb {
  width: 32px;
  height: 32px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
}
#header #nav-header .menu-hamb div {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s;
}
#header #nav-header .menu-hamb div.line1.anim {
  transform: translateY(11px) rotate(-45deg);
}
#header #nav-header .menu-hamb div.line2.anim {
  transition: all 0.2s;
  width: 0;
}
#header #nav-header .menu-hamb div.line3.anim {
  transform: translateY(-11px) rotate(45deg);
}
#header #nav-header #nav-list {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 100vw;
  height: 92vh;
  background-color: #1190CB;
  transform: translateX(100%);
  transition: all 0.5s;
  display: flex;
  list-style: none !important;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
  gap: 30px;
}
#header #nav-header #nav-list a.li-option {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
#header #nav-header #nav-list a.li-option:hover {
  opacity: 0.7;
}
#header #nav-header #nav-list li.li-drop {
  height: 3rem;
  text-align: center;
}
#header #nav-header #nav-list li.li-drop span {
  position: relative;
  bottom: 31%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
#header #nav-header #nav-list li.li-drop span:hover {
  opacity: 0.7;
}
#header #nav-header #nav-list li.li-drop .dropdown {
  position: relative;
  margin-top: 10px;
  z-index: -1;
  height: 0;
  user-select: none;
  width: 18rem;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s;
}
#header #nav-header #nav-list li.li-drop .dropdown:hover {
  opacity: 1;
}
#header #nav-header #nav-list li.li-drop .dropdown.show {
  z-index: 2;
  height: 11.5rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
#header #nav-header #nav-list li.li-drop .dropdown .item {
  padding: 10px 10px;
  width: 100%;
  text-align: left;
  transition: all 0.3s;
}
#header #nav-header #nav-list li.li-drop .dropdown .item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#header #nav-header #nav-list li.li-drop .dropdown .item-title {
  font-size: 23px;
  color: #F27649;
  font-weight: bold;
  padding-bottom: 5px;
}
#header #nav-header #nav-list li.li-drop .dropdown .item-text {
  color: rgb(71, 71, 71);
  font-weight: bold;
}
#header #nav-header #nav-list.show-nav {
  transition: all 0.5s;
  transform: translateX(0%);
}
#header #nav-header #nav-list ul#ul-btns {
  display: flex;
  list-style: none !important;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}
#header #nav-header #nav-list ul#ul-btns li > button {
  border: none;
  width: 7rem;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 5px 0;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-login {
  background-color: #1190CB;
  border-color: #fff;
  color: #fff;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-login:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #1190CB;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-signup {
  background-color: #F27649;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-signup:hover {
  background-color: #1190CB;
  border: 2px solid #F27649;
  color: #F27649;
}

#main-section {
  width: 100vw;
  flex-grow: 1;
  flex-basis: 84vh;
  height: 84vh;
  background-color: #FDE3A8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#main-section .bg-pets {
  display: none;
}
#main-section .form-signup-login {
  background-color: #F27649;
  max-width: 90%;
  height: 95%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 20px 10px rgba(36, 0, 70, 0.1568627451);
  transform: translateX(-150%);
  transition: all 0.5s;
}
#main-section .form-signup-login.show-card {
  transform: translateX(0%);
}
#main-section .form-signup-login .register {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  background-color: #F27649;
}
#main-section .form-signup-login .register.remove-register {
  transform: translateY(-101%);
}
#main-section .form-signup-login .register .form {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 14px;
  padding: 24px;
}
#main-section .form-signup-login .register .form label, #main-section .form-signup-login .register .form p {
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
#main-section .form-signup-login .register .form p {
  font-size: 1.5rem;
}
#main-section .form-signup-login .register .form .input {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
#main-section .form-signup-login .register .form button {
  background-color: transparent;
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
#main-section .form-signup-login .register .form button.signup:hover {
  background-color: #fff;
  color: #F27649;
}
#main-section .form-signup-login .register .form button + p {
  font-size: 1.1rem;
}
#main-section .form-signup-login .register .form button + p span.link-login {
  text-decoration: underline;
  cursor: pointer;
}
#main-section .form-signup-login .register .form button + p span.link-login:hover {
  opacity: 0.7;
}
#main-section .form-signup-login .login {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  background-color: #1190CB;
  transform: translateY(101%);
}
#main-section .form-signup-login .login.show-login {
  transform: translateY(-100%);
}
#main-section .form-signup-login .login .form {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 14px;
  padding: 24px;
}
#main-section .form-signup-login .login .form label, #main-section .form-signup-login .login .form p {
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
#main-section .form-signup-login .login .form p {
  font-size: 1.5rem;
}
#main-section .form-signup-login .login .form .input {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
#main-section .form-signup-login .login .form button {
  background-color: transparent;
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
#main-section .form-signup-login .login .form button.signup:hover {
  background-color: #fff;
  color: #F27649;
}
#main-section .form-signup-login .login .form button + p {
  font-size: 1.1rem;
}
#main-section .form-signup-login .login .form button + p span.link-login {
  text-decoration: underline;
  cursor: pointer;
}
#main-section .form-signup-login .login .form button + p span.link-login:hover {
  opacity: 0.7;
}
#main-section .form-signup-login .login .form .link-signup {
  text-decoration: underline;
  cursor: pointer;
}

#footer {
  height: 8vh;
}

@media only screen and (min-width: 900px) {
  #header {
    padding: 10px 30px;
  }
  #header #nav-header .menu-hamb {
    display: none;
  }
  #header #nav-header #nav-list {
    flex-direction: row;
    position: static;
    height: 100%;
    width: 80%;
    transform: translateX(0);
    background-color: transparent;
    justify-content: space-between;
  }
  #header #nav-header #nav-list a.li-option {
    color: #000;
  }
  #header #nav-header #nav-list li.li-drop {
    width: auto;
    height: 200px;
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    grid-template-areas: "span" "drop";
    position: relative;
    top: 190%;
  }
  #header #nav-header #nav-list li.li-drop span {
    grid-area: span;
    color: #000;
  }
  #header #nav-header #nav-list li.li-drop .dropdown {
    grid-area: drop;
  }
  #header #nav-header #nav-list ul#ul-btns {
    flex-direction: row;
  }
  #header #nav-header #nav-list ul#ul-btns li > button.btn-login:hover {
    border-color: #1190CB;
  }
  #header #nav-header #nav-list ul#ul-btns li > button.btn-signup:hover {
    background-color: #fff;
  }
  #main-section .bg-pets {
    display: block;
    width: 40%;
    height: 100%;
    background-image: url("../../imgs/bgPets.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
}
#header #nav-header {
  gap: 100px;
  padding: 20px;
}

#main-section .form1 {
  width: 92%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
#main-section .form1 .corpDatas {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: auto;
  padding: 25px 20px;
  gap: 30px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
#main-section .form1 .corpDatas h2 {
  text-align: center;
  font-size: 1.5rem;
}
#main-section .form1 .corpDatas .div-inputs {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#main-section .form1 .corpDatas .div-inputs .inps {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#main-section .form1 .corpDatas .div-inputs .inps input {
  height: 30px;
  font-size: 1.1rem;
  outline: 1px solid #F27649;
}
#main-section .form1 .corpAddress {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: auto;
  padding: 25px 20px;
  gap: 30px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
#main-section .form1 .corpAddress h2 {
  text-align: center;
  font-size: 1.5rem;
}
#main-section .form1 .corpAddress .div-inputs {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#main-section .form1 .corpAddress .div-inputs .inps {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#main-section .form1 .corpAddress .div-inputs .inps input {
  height: 30px;
  font-size: 1.1rem;
  outline: 1px solid #F27649;
}

/*# sourceMappingURL=style.css.map */
