body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 100%;
}
#header #nav-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  height: 8vh;
}
#header #nav-header a.link-logo .logo {
  width: 40%;
  height: auto;
}
#header #nav-header .menu-hamb {
  width: 32px;
  height: 32px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
}
#header #nav-header .menu-hamb div {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s;
}
#header #nav-header .menu-hamb div.line1.anim {
  transform: translateY(11px) rotate(-45deg);
}
#header #nav-header .menu-hamb div.line2.anim {
  transition: all 0.2s;
  width: 0;
}
#header #nav-header .menu-hamb div.line3.anim {
  transform: translateY(-11px) rotate(45deg);
}
#header #nav-header #nav-list {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 100vw;
  height: 92vh;
  background-color: #1190CB;
  transform: translateX(100%);
  transition: all 0.5s;
  display: flex;
  list-style: none !important;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}
#header #nav-header #nav-list a.li-option {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
#header #nav-header #nav-list a.li-option:hover {
  opacity: 0.7;
}
#header #nav-header #nav-list li.li-drop {
  height: 3rem;
  text-align: center;
}
#header #nav-header #nav-list li.li-drop span {
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
#header #nav-header #nav-list li.li-drop span:hover {
  opacity: 0.7;
}
#header #nav-header #nav-list li.li-drop .dropdown {
  margin-top: 10px;
  z-index: -1;
  max-height: 0;
  user-select: none;
  width: 18rem;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s;
}
#header #nav-header #nav-list li.li-drop .dropdown:hover {
  opacity: 1;
}
#header #nav-header #nav-list li.li-drop .dropdown.show {
  z-index: 2;
  max-height: 18rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
#header #nav-header #nav-list li.li-drop .dropdown .item {
  padding: 10px 10px;
  width: 100%;
  text-align: left;
  transition: all 0.3s;
}
#header #nav-header #nav-list li.li-drop .dropdown .item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#header #nav-header #nav-list li.li-drop .dropdown .item-title {
  font-size: 23px;
  color: #F27649;
  font-weight: bold;
  padding-bottom: 5px;
}
#header #nav-header #nav-list li.li-drop .dropdown .item-text {
  color: rgb(71, 71, 71);
  font-weight: bold;
}
#header #nav-header #nav-list.show-nav {
  transition: all 0.5s;
  transform: translateX(0%);
}
#header #nav-header #nav-list ul#ul-btns {
  display: flex;
  list-style: none !important;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}
#header #nav-header #nav-list ul#ul-btns li > button {
  border: none;
  width: 7rem;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 5px 0;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-login {
  background-color: #1190CB;
  border-color: #fff;
  color: #fff;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-login:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #1190CB;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-signup {
  background-color: #F27649;
}
#header #nav-header #nav-list ul#ul-btns li > button.btn-signup:hover {
  background-color: #1190CB;
  border: 2px solid #F27649;
  color: #F27649;
}

#main-section {
  height: 87vh;
  background-color: #FDE3A8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-section .form-signup-login {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F27649;
  max-height: 85%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 20px 10px rgba(36, 0, 70, 0.1568627451);
  transform: translateX(-150%);
  transition: all 0.5s;
}
#main-section .form-signup-login.show-card {
  transform: translateX(0%);
}
#main-section .form-signup-login #chk {
  display: none;
}
#main-section .form-signup-login .register,
#main-section .form-signup-login .login {
  position: relative;
  width: 100%;
  height: 100%;
}
#main-section .form-signup-login .register .form,
#main-section .form-signup-login .login .form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}
#main-section .form-signup-login .register .form label,
#main-section .form-signup-login .login .form label {
  width: 100%;
  padding: 10px 0;
  margin: 0 0 5%;
  color: #fff;
  font-size: 2.5rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#main-section .form-signup-login .register .form .input,
#main-section .form-signup-login .login .form .input {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
#main-section .form-signup-login .register .form button,
#main-section .form-signup-login .login .form button {
  background-color: transparent;
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
#main-section .form-signup-login .register .form button.signup:hover,
#main-section .form-signup-login .login .form button.signup:hover {
  background-color: #fff;
  color: #F27649;
}
#main-section .form-signup-login .register .form button.login:hover,
#main-section .form-signup-login .login .form button.login:hover {
  background-color: #fff;
  color: #1190CB;
}
#main-section .form-signup-login .login {
  top: 2px;
  border-bottom: 100px solid #1190CB;
  background: #1190CB;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  transform: translateY(-8%);
  transition: 0.8s ease-in-out;
}
#main-section .form-signup-login .login label {
  position: relative;
  bottom: 15px;
  transform: scale(0.6);
}
#main-section .form-signup-login #chk:checked ~ .login {
  transform: translateY(-70%);
}
#main-section .form-signup-login #chk:checked ~ .login label {
  transform: scale(0.9);
  bottom: 0px;
}
#main-section .form-signup-login #chk:checked ~ .register label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}

#footer {
  height: 5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  animation: anim-logo 0.7s;
}

#main-section {
  width: 100%;
  flex: 1 0 auto;
}

@keyframes anim-logo {
  0% {
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(-4deg) scale(1.07);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

/*# sourceMappingURL=style.css.map */
