body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./outhers/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8vh 84vh 8vh;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#header {
  grid-area: header;
}

#main-section {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

.logo {
  &:hover {
    animation: anim-logo 0.7s;
  }
}

button {
  outline: none;
}

@keyframes anim-logo {
  0% {
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(-4deg) scale(1.07);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@import "./pages/signup-login.scss";
@import "./pages/companyData.scss";
