body{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

@import "./outhers/colors.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  &:hover {
    animation: anim-logo .7s;
  }
}

#main-section {
  width: 100%;
  flex: 1 0 auto;
}

@keyframes anim-logo {
    0%{
      transform: rotate(4deg);
    }
    25%{
        transform: rotate(-4deg) scale(1.07);
    }
    50%{
      transform: rotate(4deg);
    }
    100%{
        transform: rotate(-4deg);
        
    }
    
}

@import "./pages/signup-login.scss";