@import "../outhers/colors.scss";
@mixin inps {
  .inps {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    &.small-inps {
      flex-direction: row;
      .box-small-inps {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
      }
      input {
        width: 11rem;
        &#neighborh {
          width: 15rem;
        }
        &#number {
          width: 7rem;
        }
      }
    }
    span {
      align-self: self-start;
      color: $red-color;
    }
    label {
      font-size: 1.3rem;
      width: fit-content;
      cursor: pointer;
      align-self: self-start;
      transition: all 0.5s;
      &::after {
        content: "";
        display: block;
        width: 0%;
        height: 1px;
        background-color: $black-text;
        transition: all 0.5s;
      }
    }
    input {
      width: 22rem;
      letter-spacing: 1px;
      height: 32px;
      font-size: 1.07em;
      padding: 18px 10px;
      outline: none;
      border: 0.1rem solid $primary-color;
      border-radius: 8px;
      // transition: all 0.5s;
      &.error {
        border: 2px solid $red-color;
        ~ label {
          color: $red-color;
          font-weight: 500;
          &::after {
            background-color: $red-color;
          }
        }
      }
      &.valid {
        border: 1px solid $secondary-color;
      }
      &:focus ~ label {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

@mixin formsStep {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px 25px;
  border-radius: 20px;
  background: $white-text;
  box-shadow: 6px 6px 23px #a3a3a3, -6px -6px 23px $white-text;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
  }
  @include inps;
  .btns-step {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    button {
      @include btns;
      width: 10rem;
      height: 3rem;
      &.next-button,
      &.submit-button {
        background-color: $primary-color;
        &:hover {
          background-color: $white-text;
          border: 2px solid $primary-color;
          color: $primary-color;
        }
      }
      &.prev-button {
        background-color: $secondary-color;
        &:hover {
          background-color: $white-text;
          border: 2px solid $secondary-color;
          color: $secondary-color;
        }
      }
    }
  }
}
.main-content2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 92vh;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main";
}
#header {
  grid-area: header;
  #nav-header2 {
    background-color: $terc-color;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    a.link-logo {
      .logo {
        width: 50%;
        height: auto;
      }
    }
  }
}

#main-section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  height: 100%;
  background-color: $white-text;
  .bg-pets {
    display: none;
  }
  #stepForm {
    width: 92%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .form-step {
      @include formsStep;
      .box-datas {
        margin-bottom: 15px;
        overflow-y: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.1rem;
        border: 1px solid $primary-color;
        border-radius: 12px;
        padding: 25px 15px;
        p {
          padding: 8px 0;
        }
      }
    }
  }
}

.form-submitted {
  width: 98%;
  height: 35%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 25px;
  border-radius: 20px;
  background: $white-text;
  box-shadow: 6px 6px 23px #a3a3a3, -6px -6px 23px $white-text;
  border: 3px solid $secondary-color;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 1.7rem;
    span {
      color: $primary-color;
      font-size: 2rem;
    }
  }
  svg path,
  svg rect{
  fill: $primary-color;
}
}

@media only screen and (min-width: 900px) {
  #main-section2 {
    padding: 0 0 0 20px;
    gap: 20px;
    .bg-pets {
      border-radius: 2px;
      display: block !important;
      min-width: 55%;
      height: 100%;
      background-image: url("../../imgs/bgPets.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
    }
  }
  .form-submitted{
  width: 50%;   
  height: 35%;
  }
}
