@import "../outhers/colors.scss";
@mixin formDivs {
  background-color: $white-text;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: auto;
  padding: 25px 20px;
  gap: 30px;
  box-shadow: 1px 1px 10px 1px rgba(#000, 0.3);
  h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .div-inputs {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .inps {
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
      label {
        font-size: 1.3rem;
        width: fit-content;
        cursor: pointer;
        &::after {
          content: "";
          display: block;
          width: 0%;
          height: 1px;
          background-color: $black-text;
          transition: all 0.5s;
        }
      }
      input {
        letter-spacing: 1px;
        height: 30px;
        font-size: 1.05rem;
        padding: 15px 7px;
        outline: none;
        border: 0.15rem solid $primary-color;
        border-radius: 10px;
        transition: all 0.5s;
        &.active-inp {
          border-color: $secondary-color;
          ~ label::after {
            width: 100%;
          }
        }
      }
    }
  }
}
.main-content2{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 8vh 100%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header"
    "main"; 
}
  #header {
    #nav-header {
      gap: 100px;
      padding: 20px;
    }
  }

  #main-section {
    height: 100%;
    .form1 {
      width: 92%;
      height: 95%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .corpDatas {
      @include formDivs;
    }
    .corpAddress {
      display: grid;
      @include formDivs;
    }
  }