@import "../outhers/colors.scss";

#header {
  width: 100%;
  height: 15vh;
  background-color: $white-text;
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  align-items: center;
}

#nav-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-option {
    user-select: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    &.drop:hover ~ .dropdown{
      opacity: 1;
    }
  }
  .dropdown {
    opacity: 0;
    // user-select: none;
    width: 18rem;
    background-color: $white-text;
    position: absolute;
    top: 10%;
    left: 24%;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.3s;
    .item {
      padding: 10px 10px;
      width: 100%;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .item-title {
      font-size: 23px;
      color: $primary-color;
      font-weight: bold;
      padding-bottom: 5px;
      user-select: none;
    }
    .item-text {
      user-select: none;
    }
  }
  .login-btns {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    button{
      border: none;
      width: 7rem;
      border-radius: 5px;
      padding: 5px 0;
      font-weight: 500;
      color: $white-text;
    }
  }
}
